$blue: #425eab;
$black: #525252;

html {
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

.main-screen {
  background: url("../images/main-screen-image.png") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 500px;
  position: relative;
  color: white;

  &__title {
    font-family: "Akrobat Black", sans-serif;
    font-size: 48px;
    line-height: 56px;
    margin: 0;
    z-index: 3;
  }

  &__subtitle {
    font-family: "Lato";
    font-size: 22px;
    line-height: 26px;
    max-width: 440px;
    display: block;
    margin: 24px 0 0 0;
    z-index: 3;
  }

  &__decorations {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

.decorations {
  width: 100%;
  &__wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  &__square {
    width: 50%;
    height: 385px;
    &_blue{
      background-color: $blue;
      z-index: 2;
    }
    &_black{
      background-color: black;
      opacity: 50%;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(50%, -40%);
      z-index: 1;
    }
  }
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 250px 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

